<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <EW_Site>
            <version>0.0.1</version>
        </EW_Site>
    </modules>
    <global>
        <blocks>
            <site>
                <class>EW_Site_Block</class>
            </site>
        </blocks>
        <models>
            <site>
                <class>EW_Site_Model</class>
            </site>
        </models>
    </global>
    <frontend>
        <routers>
            <site>
                <use>standard</use>
                <args>
                    <module>EW_Site</module>
                    <frontName>site</frontName>
                </args>
            </site>
        </routers>
        <layout>
            <updates>
                <site>
                    <file>site.xml</file>
                </site>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <customer_save_before>
                <observers>
                    <customer_group_change_observer>
                        <class>site/observer</class>
                        <method>sendCustomerEmail</method>
                    </customer_group_change_observer>
                </observers>
            </customer_save_before>
        </events>
    </adminhtml>
</config>

