#logo a {
  background: url(l1images/logo-large.png) 0 0 no-repeat;
  position: absolute;
  display: block;
  width: 217px;
  height: 181px;
  top: -5px;
  left: 0px;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 1000;
}
#homepage_center_stage {
  float:right;      
  position: absolute;
  background:url('l1images/stage_bg.png') repeat-y;
  right: 0;
  top: 0;
  height: 352px;
  width: 442px;   
  padding: 20px 0px;
}
#homepage_center_stage .text {width:500px;padding:20px 45px;}
#homepage_center_stage .text .tel-no {font-size:24px;color:#cb4126;margin:0;padding:0;}
#homepage_center_stage .text .tel {font-size:23px;text-shadow:none;color:#fff;margin:0;padding:0;}
#homepage_center_stage .text .title {font-family: Quicksand, "Arial Narrow", Arial, sans-serif;font-size:22px;text-shadow:none;color:#cb4126;line-height:26px;}
#homepage_center_stage .text .white-text {display:block;width:370px;font-family: Cabin,Arial,sans-serif;font-size:16px;font-weight:normal;text-transform:uppercase;text-shadow:none;color:#fff;font-style:normal;line-height:24px;margin-bottom:14px;}
#homepage_center_stage .text .quote {display:block;width:370px;font-style:italic;font-size:18px;line-height:22px;text-shadow:none;color:#fff;margin-bottom:14px;}
#homepage_center_stage .text .name {display:block;font-family: Cabin,Arial,sans-serif;font-size:14px;font-style:normal;color:#fff;text-transform:uppercase;}
#primary_navigation_splash { float:left; width:390px; }
#primary_navigation_splash li { float:left; position:relative; }
#primary_navigation_splash li a { margin-right:15px; }

#ribbon_arrow {
  font-family: Quicksand, "Arial Narrow", Arial, sans-serif;
  position: absolute;
  display: block;
  background: url(l1images/ribbon_arrow.png) 0px 0 no-repeat;
  width: 193px;
  height: 102px;
  font-weight: 500;
  text-indent: 20px;
  color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  top: 0;
  left: 14px;
  padding:8px 0 0 0;
  text-align: left;
  text-transform:uppercase;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
    

#custom_events_signup {float:left;width:1060px;padding:0;margin:-25px 0 0 0;}
.section .text {float:left;width:275px;}
.section .text h3 {font-family: Quicksand,'Arial Narrow',Arial,sans-serif;font-size:24px;margin:0 0 38px 0;padding:0;line-height:25px;font-weight:bold;}  
.section .text img {margin:60px 0 0 75px;}
.form-box {float:left;width:635px;background:#262525;margin:0 0 0 48px;}
.form-box .holder {text-align:center;}
.form-box .holder h2 {font-family: Quicksand,'Arial Narrow',Arial,sans-serif;font-size:42px;text-shadow:none;margin:40px 0 0 0;padding:0;}
.form-box .holder h3 {font-family: Quicksand,'Arial Narrow',Arial,sans-serif;font-size:34px;margin:4px 0 0 0;padding:0;}
.form-box .holder .help {font-family: Quicksand,'Arial Narrow',Arial,sans-serif;font-size:13px;font-style:normal;color:#fff;margin:20px 0 0 0;text-transform:uppercase;font-weight:bold;}
.form-box .holder ul {margin:20px 0 35px 0;padding:0;}
.form-box .holder ul li {list-style:none;}
.form-box .holder ul li.spacer {font-family: Quicksand,'Arial Narrow',Arial,sans-serif;font-size:11px;font-weight:bold;color:#cb4126;font-style:normal;padding:8px 0 10px 0;}
.form-box .holder ul li.info {font-family: Cabin,Arial,sans-serif;font-size:13px;font-weight:normal;color:#cb4126;font-style:normal;padding:20px 0 10px 152px;margin-bottom:60px;text-align:left;}
.form-box .holder input[type=text] {width:535px;height:42px;background:#d7d7d7;font-family: "Times New Roman",serif;font-size:20px;font-style:italic;text-align:center;margin-bottom:4px;border:none;}
.checkbox-info {float:left;margin:-8px 0 0 0;line-height:24px;}
.checkbox {
  float:left;
	width: 20px;
	height: 20px;
	background: #cb4126;
  margin:6px 20px 0 0;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.checkbox label {
	cursor: pointer;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 2px;
	top: 2px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

		background: #cb4126;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.checkbox label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 2px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkbox label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.checkbox input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


.form-box .holder input[type=submit] {font-family: Cabin,Arial,sans-serif;font-size:13px;font-weight:bold;letter-spacing:.1em;width:496px;height:37px;background:url('l1images/form-button.png') no-repeat;border:none;color:#fff;}
 
.widget-bg {background:#262525;height:318px;}
.widget-bg .text {float:left;width:275px;color:#d7d7d7;font-size:18px;line-height:25px;padding:50px 0 0px 24px;}
.widget-bg .text h3 {font-family: Quicksand,'Arial Narrow',Arial,sans-serif;font-weight:normal;font-size:24px;margin:0 0 30px 0;padding:0;}
.widget-bg .text p {padding:0;}
.widget-bg .img {float:right;width:634px;}
    
.box {float:left;max-width:300px;margin:46px 25px 0 0;}
.box:last-child {margin-right:0;}
.box h4 {font-family: "Times New Roman",serif;font-size:17px;font-style:italic;font-weight:bold;color:#cb4126;text-transform:none;margin:0 0 6px 0;}
.box p {font-family: "Times New Roman",serif;font-size:17px;font-style:italic;color:#232323;line-height:24px;padding:0;}

#hero {position:absolute;top:0;left:0;}

#footer #details p {font-family: "Times New Roman",serif;font-style:italic;font-size:17px;line-height:24px;color:#9d9791;}
.inner_wrapper {max-width:960px;}
#homepage_header_wrapper, #homepage_header {height:352px;}