<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <EW_Customer>
            <version>0.0.1</version>
        </EW_Customer>
    </modules>
    <global>
        <models>
            <customer>
                <rewrite>
                    <address>EW_Customer_Model_Address</address>
                    <form>EW_Customer_Model_Form</form>
                </rewrite>
            </customer>
        </models>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <EW_Customer before="Mage_Customer">EW_Customer</EW_Customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
</config>

