<!--@subject Request Date Form@-->
<!--@vars
{"var data.title":"Product Title",
"var data.description":"Product Description",
"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.group_size":"Group Size",
"var data.date":"Date",
"var data.start_time":"Start Time",
"var data.end_time":"End Time",
"var data.flexible":"Flexible Date & Time",
"var data.additional_needs":"Additional Needs"
}
@-->
<body>
    <div>Product Title: {{var data.title}}</div>
    <div>Product Description: {{var data.description}}</div>
    <div>Name: {{var data.name}}</div>
    <div>E-mail: {{var data.email}}</div>
    <div>Telephone: {{var data.telephone}}</div>
    <div>Group Size: {{var data.group_size}}</div>
    <div>Date: {{var data.date}}</div>
    <div>Start Time: {{var data.start_time}}</div>
    <div>End Time: {{var data.end_time}}</div>
    <div>Flexible Date & Time: {{var data.flexible}}</div>
    <div>Additional Needs: {{var data.additional_needs}}</div>
</body>