/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
  line-height: 18px;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

button, input, select, textarea, legend { font-family:Cabin,Arial,sans-serif; font-style:normal; color:#222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background:#c44427; color:#fff; text-shadow:none; }
::selection      { background:#c44427; color:#fff; text-shadow:none; }


/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #c84729;
  text-decoration: none;
  border-bottom: 2px dashed transparent;
  padding-bottom: 1px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition:    all 200ms ease-in;
  transition:         all 200ms ease-in;
}
a:visited { color:#c84729; }
a:hover { color:#cff; border-bottom:1px dashed #c84729; }

#return_to_top {
  background: url(../images/css-sprites.png) -425px -175px no-repeat;
  position: fixed;
  top: 50%;
  bottom: 50%;
  right: 1.8%;
  display: block;
  width: 43px;
  height: 43px;
  padding: 0;
  z-index: 900;
  opacity: 0;
  -webkit-transition: none;
  -moz-transition:    none;
  transition:         none;
}
#return_to_top:hover, #return_to_top:active { background-position:-425px -222px; border:none; }


/* =============================================================================
   Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 { font-style:normal; }

h1 {
  font-family: Cabin,Arial,sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 48px;
  margin: 20px 0;
  padding: 0;
  text-transform: uppercase;
  color: #000;
}

h2 {
  font-family: Quicksand,'Arial Narrow',Arial,sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin: 10px 0 50px 0;
  padding: 0;
  text-shadow: -3px 3px 0 #d4d2c6;
  text-transform: uppercase;
  color: #c44427;
}

h2.fancy_phone_number {
  display: block;
  background: url(../images/icon-call-us.png) left center no-repeat;
  font-family: Impact,"Trebuchet MS","Arial Narrow",Arial,sans-serif;
  font-size: 47px;
  text-shadow: none;
  margin: 12px 0;
  padding-left: 75px;
  line-height: 55px;
}

h3 {
  font-family: Cabin,'Arial Narrow',Arial,sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 1px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #c44427;
}

h4 {
  font-family: Cabin,Arial,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #1A181A;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

h5 {
  font-family: "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 24px;
  line-height: 24px;
  color: #c44427;
  margin: 15px 0;
}
h5 strong {
  font-family: Cabin,Arial,sans-serif;
  font-style: normal;
  font-size: 20px;
}

h6 {
  font-family: Cabin,Arial,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1A181A;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display:block; height:8px; width:auto; border:none; background:url(../images/background-angled-lines.png) repeat-x; margin:5px 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

p { margin:0 0 32px 0; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin:0; }
fieldset { border:0; margin:0; padding:10px 0 0 0; width:455px; }

form table td { border:none; padding:5px 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor:pointer; display:block; margin-bottom:2px; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border:0; *margin-left:-7px; padding:0; text-transform:uppercase; color:#1a181a; font-family:Cabin,Arial,sans-serif; font-size:20px; font-weight:500; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

a.button_ribbon,
input.button_ribbon {
  position: relative;
  background: url(../images/css-sprites.png) 0 -162px no-repeat;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: Quicksand,"Arial Narrow",Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  padding: 0;
  border: none;
  display: block;
  width: 142px;
  height: 37px;
  line-height: 37px;
  z-index: 100;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

a.button_ribbon:hover,
a.button_ribbon:active,
input.button_ribbon:hover,
input.button_ribbon:active {
  background-position: 0 -202px;
  color: #c74428;
  font-weight: bold;
  padding: 0;
  border: none;
}


a.button_ribbon_small,
input.button_ribbon_small {
  position: relative;
  background: url(../images/css-sprites.png) 0 -244px no-repeat;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: Quicksand,"Arial Narrow",Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  padding: 0;
  border: none;
  display: block;
  width: 101px;
  height: 37px;
  line-height: 35px;
  z-index: 100;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

a.button_ribbon_small:hover,
a.button_ribbon_small:active,
input.button_ribbon_small:hover,
input.button_ribbon_small:active {
  background-position: 0 -283px;
  color: #c74428;
  font-weight: bold;
  padding: 0;
}



/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  padding: 2%;
  width: 94.5%;
  height: 80px;
}

form input.input-text { width:89%; }

textarea,
input.input-text {
  background: #d8d0c9;
  padding: 8px;
  font-size: 16px;
  border: 5px solid #d8d0c9;
  -webkit-transition: border 200ms ease-in;
  -moz-transition:    border 200ms ease-in;
  transition:         border 200ms ease-in;
}

textarea:hover,
textarea:focus,
input.input-text:hover,
input.input-text:focus { outline:none; border:5px solid #b8b0a9; }

/* Colors for form validity */
input:valid, textarea:valid {}
input:invalid, textarea:invalid { border-color:#c54528; color:#c54528;  }


/* =============================================================================
   Tables
   ========================================================================== */
table { border-collapse:collapse; border-spacing:0; width:100%; }

th { text-align:left; vertical-align:bottom; padding:10px 5px; border-bottom:1px solid #d7d1c9; color:#c54528; text-transform:uppercase; font-style:normal; font-family:Cabin,Arial,sans-serif; }
td { text-align:left; vertical-align:middle; padding:5px; border-bottom:1px solid #d7d1c9; }
td .input-text { width:auto; }

td.price { color:#000; text-transform:uppercase; font-style:normal; font-family:Cabin,Arial,sans-serif; font-weight:600; }

tfoot td { text-align:right; vertical-align:middle; padding:20px 5px; color:#c54528; text-transform:uppercase; font-style:normal; font-family:Cabin,Arial,sans-serif; }
td.price_total { text-align:left; color:#000; text-transform:uppercase; font-style:normal; font-family:Cabin,Arial,sans-serif; font-weight:600; font-size:24px; }


/* =============================================================================
   CSS Classes
   ========================================================================== */
.floatleft, .alignleft   { float:left;  }
.floatright, .alignright { float:right; }
.aligncenter { display:block; margin:0 auto; text-align:center; }
.align_text_center * { text-align:center; }

img.floatleft,  img.alignleft  { margin:0 30px 30px 0; }
img.floatright, img.alignright { margin:0 0 30px 30px; }

ul.red_dots_on_black { list-style-image:url(../images/icon-spacer-disc-black.png); }

.list_item_round_beige_large {
  position: relative;
  background: url(../images/css-sprites.png) 0 -329px no-repeat;
  display: block;
  width: 115px;
  height: 114px;
}

.ribbon_red,
.ribbon_white {
  position: relative;
  display: block;
  width: 74px;
  height: 44px;
  cursor: pointer;
  text-indent: 10px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
  color: #000;
  border: none;
  padding: 5px;
  margin: 0;
  -webkit-transition: none;
  -moz-transition:    none;
  transition:         none;
}
.ribbon_red   { background:url(../images/css-sprites.png) -404px -54px no-repeat; }
.ribbon_white { background:url(../images/css-sprites.png) -404px 0     no-repeat; }
.ribbon_red:hover,   .ribbon_red:active   { background-position:-404px -108px; border:none; color:#c54528; }
.ribbon_white:hover, .ribbon_white:active { background-position:-404px -108px; border:none; color:#c54528; }

.no_ribbon_red_hover:hover   { background-position:-404px -54px; color:#000; cursor:default; }
.no_ribbon_white_hover:hover { background-position:-404px 0;     color:#000; cursor:default; }

.ribbon_red .amount, .ribbon_white .amount { font-size:32px; line-height:22px; margin:4px 0 2px 0; }

.add_to_cart   { background:url(../images/css-sprites.png) -498px -90px no-repeat; display:block; width:58px; height:37px; position:absolute; top:6px; left:17px; }
.added_to_cart { background:url(../images/css-sprites.png) -498px 0 no-repeat;     display:block; width:58px; height:37px; position:absolute; top:6px; left:17px; }
  .ribbon_white:hover .add_to_cart,
  .add_to_cart:hover { background-position:-498px -45px; }

.add_to_wish_list   { background:url(../images/css-sprites.png) -565px -90px no-repeat; display:block; width:48px; height:33px; position:absolute; top:10px; left:21px; }
.added_to_wish_list { background:url(../images/css-sprites.png) -565px 0 no-repeat;     display:block; width:48px; height:33px; position:absolute; top:10px; left:21px; }

  .ribbon_white:hover .add_to_wish_list,
  .add_to_wish_list:hover { background-position:-565px -45px; }


.icon_email {
  background: url(../images/css-sprites.png) -500px -329px no-repeat;
  display: block;
  width: 55px;
  height: 37px;
  padding: 0;
  border: none;
  text-indent: -9999px;
}
.icon_email:hover { border:none; padding:0; }

.list_item_round_beige_large .icon_email { position:absolute; top:37px; left:30px; }

.icon_twitter {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 18px;
  padding: 0;
  border: none;
  top: 2px;
  background: url(../images/css-sprites.png) -526px -137px no-repeat;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.icon_twitter:hover { background-position:-498px -137px; border:none; padding:0; }

.icon_facebook {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 17px;
  padding: 0;
  border: none;
  background: url(../images/css-sprites.png) -540px -188px no-repeat;
  top: 2px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.icon_facebook:hover { background-position:-500px -188px; border:none; padding:0; }

.icon_linked_in {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 18px;
  padding: 0;
  border: none;
  background: url(../images/css-sprites.png) -533px -162px no-repeat;
  top: 1px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.icon_linked_in:hover { background-position:-500px -162px; border:none; padding:0; }



/* =============================================================================
   Layout
   ========================================================================== */
body { background:#fdf6ee; color:#333; margin-bottom:30px; }

.inner_wrapper { width:1060px; margin:0 auto; position:relative; clear:both; }

#homepage_header_wrapper {
  background: #262626;
  width: 100%;
  height: 502px;
  min-width: 100%;
  max-height: 502px;
  display: none;
}
#homepage_header {
  position: relative;
  width: 100%;
  height: 502px;
  min-width: 100%;
  max-height: 502px;
  overflow: hidden;
}
body.homepage #homepage_header_wrapper { display:block; }

#homepage_center_stage {
  background: url(../images/css-sprites.png) -626px 0 repeat-y;
  position: absolute;
  right: 155px;
  top: 0;
  height: 462px;
  width: 283px;
  padding: 20px 45px;
  z-index: 10;
}
#homepage_center_stage #steps { list-style:none; margin:0 0 45px 0; padding:0; }
#homepage_center_stage #steps li {
  position: relative;
  float: left;
  height: 22px;
  width: 52px;
  display: block;
  margin: 0 8px 0 55px;
  padding: 0;
  border-bottom: 1px dashed #fff;
}
#homepage_center_stage #steps li.last { border:none; margin:0; }
#homepage_center_stage #steps li a {
  background: url(../images/css-sprites.png) -349px 0 no-repeat;
  position: absolute;
  display: block;
  top: 0;
  left: -53px;
  border: none;
  padding: 10px;
  height: 25px;
  width: 25px;
  text-align: center;
  font-family: Cabin,Arial,sans-serif;
  font-size: 25px;
  line-height: 23px;
  -webkit-transition: none;
  -moz-transition:    none;
  transition:         none;
}
#homepage_center_stage #steps li.last a { left:0; }
#homepage_center_stage #steps li a:hover  { color:#fff; font-family:"Times New Roman",serif; font-style:italic; background-position:-349px -45px; }

#homepage_center_stage #steps li a:active, #homepage_center_stage #steps li a.active
{ color:#fff; font-family:"Times New Roman",serif; font-style:italic; background-position:-349px -94px; }



#homepage_center_stage h1 { color:#fff; font-size:43px; letter-spacing:-1px; }
#homepage_center_stage p {
  font-size: 17px;
  line-height: 21px;
  color: #aaa;
  margin: 0 0 15px 0;
  padding: 0;
  width: 230px;
}
#homepage_center_stage div.featured_product_text p.content { height:240px; overflow:auto; }

#homepage_center_stage .ribbon_red   { position:absolute; bottom:145px; right:-5px; }
#homepage_center_stage .ribbon_white { position:absolute; bottom:85px;  right:-5px; }
#homepage_center_stage a { font-family:Cabin,Arial,sans-serif; font-style:normal; font-size:14px; text-transform:uppercase; color:#fff; }
#homepage_center_stage a:hover { color:#c54528; }

#header { background:/*#fdf6ee*/ url(../images/background-navigation.jpg) repeat-x; }
#header.fixed { position:fixed; top:0; left:0; width:100%; z-index:1000; }

#header .inner_wrapper { height:155px; }
#header ul { list-style:none; padding:0; margin:0; }
#header ul li { padding:0; margin:0; }

#header #logo { margin:0; padding:0; }
#header #logo a {
  background: url(../images/css-sprites.png) 0 0 no-repeat;
  position: absolute;
  display: block;
  width: 180px;
  height: 155px;
  top: -5px;
  left: 440px;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 100;
}
#header #logo a:hover { border:none; padding:0; }

#primary_navigation { position:relative; z-index:1; padding:14px 0; height:40px; font-style:normal; }
  #primary_navigation a {
    display: block;
    font-family: Quicksand, "Arial Narrow", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    height: 38px;
    line-height: 38px;
    color: #fff;
    border: none;
    padding: 0;
    margin: 0;
  }
  #primary_navigation a:hover { border:none; color:#c44427; }

  #primary_navigation_left { float:left; width:390px; }
  #primary_navigation_left li  { float:right; }
  #primary_navigation_left li a { margin-left:15px; }

  #primary_navigation_right { float:right; width:390px; }
  #primary_navigation_right li { float:left; position:relative; }
  #primary_navigation_right li a { margin-right:15px; }

  #primary_navigation_right li #contact_ribbon_arrow {
    position: absolute;
    display: block;
    background: url(../images/css-sprites.png) -180px 0 no-repeat;
    width: 169px;
    height: 101px;
    font-weight: 500;
    text-indent: 20px;
    color: #fff;
    border: none;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    text-align: left;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
  #primary_navigation_right li #contact_ribbon_arrow:hover  { background-position:-180px -202px; color:#c54528; border:none; padding:0; }
  #primary_navigation_right li #contact_ribbon_arrow:active { background-position:-180px -101px; color:#333333; border:none; padding:0; }


#secondary_navigation { position:relative; z-index:200; height:50px; width:990px; font-family:"Times New Roman",serif; }
  #secondary_navigation a {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    border: none;
  }
  #secondary_navigation a:hover { border:none; color:#c44427; }
  #secondary_navigation li.spacer_dot {
    background: url(../images/background-spacer-disc.png) center no-repeat;
    width: 6px;
    height: 30px;
    padding: 0 8px;
  }

  #secondary_navigation_left { float:left; width:390px; }
  #secondary_navigation_left li { float:right; }

  #secondary_navigation_right { float:right; width:320px; }
  #secondary_navigation_right li { float:left; }

#footer { padding-right:50px; margin-top:125px; }
#footer p { font-family:Cabin,Arial,sans-serif; font-style:normal; margin:10px 0; }

#footer #email_us_button .button_ribbon_small { margin:-20px 0 0 7px; }

#footer #contact_information { text-align:center; font-family:Cabin,Arial,sans-serif; font-style:normal; clear:both; padding-top:30px; }
#footer #contact_information a { color:#333; }
#footer #contact_information em { font-family:"Times New Roman",serif; }



/* =============================================================================
   CONTENT
   ========================================================================== */
.left  { width:48%; float:left;  }
.right { width:48%; float:right; }

.w30p  { width:30%; float:left;  }
.w70p  { width:64%; float:right; }

ul.basic_grid { list-style:none; margin:-24px -13px; padding:0; }
ul.basic_grid li { position:relative; float:left; margin:24px 13px; padding:0; width:308px; }
ul.basic_grid li p { margin:10px; }

ul.event_grid li { background:#1a1a1a; color:#aaa; padding-bottom:50px; }
ul.event_grid h3 { margin:15px 20px; color:#fff; }
ul.event_grid p  { padding:0 10px 5px 10px; color:#aaa; font-family:"Times New Roman",serif; font-style:italic; font-size:16px; line-height:18px; }
ul.event_grid li .ribbon_red { position:absolute; top:10px; right:-5px; }
ul.event_grid li .button_ribbon { position:absolute; bottom:-20px; left:90px; }

p.callout { font-size:18px; line-height:24px; }

#main_content section, #main_content .section { clear:both; margin:0 0 150px 0; padding-right:50px; }


#main_content { padding-top:40px; }


#custom_events_steps { list-style:none; margin:0; padding:0; }
#custom_events_steps li img { position:relative; top:-10px; }
#custom_events_steps li div {
  display: inline-block;
  background: url(../images/css-sprites.png) -125px -329px no-repeat;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  font-family: Cabin,Arial,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  margin-right: 15px;
}

#about_events_wired img.floatleft { margin-bottom:60px; }
#about_events_wired p.callout { width:475px; line-height:26px; margin-bottom:26px; }
#about_events_wired ul.basic_grid li { width:143px; text-align:center; }
#about_events_wired ul.basic_grid li p { font-size:14px; }

#event_callout {
  position: relative;
  background: #555;
  height: 450px;
  overflow: hidden;
  margin-bottom: 40px;
}

#event_callout .left {
  background: url(../images/css-sprites.png) -650px 0 repeat-y;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 20px;
  height: 410px;
  width: 309px;
  color: #888;
}
#event_callout .left h1 {
  color: #fff;
  font-size: 45px;
  line-height: 42px;
  margin: 10px 0 20px 0;
}
#event_callout .left p {
  font-size: 17px;
  line-height: 22px;
  margin: 0 0 15px 0;
  padding: 0;
  width: 230px;
}
#event_callout .left p.datetime { font-size:12px; margin:0; }
#event_callout .left p.datetime em { color:#c54528; text-transform:uppercase; font-style:normal; font-family:Cabin,Arial,sans-serif; }

#event_callout .left .price {
  font-family: "Arial Narrow",Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #c54528;
  margin: -5px 0 25px 0;
}
#event_callout .left .price .price_text sup { position:relative; top:-18px; font-size:42px; }
#event_callout .left .price .price_text     { font-size:70px; line-height:55px; }
#event_callout .left .price .price_subtext  { font-size:30px; margin:2px 0 0 18px; }

#event_callout .left ul { padding-left:17px; }
#event_callout .left ul li { margin:8px 0; }

#event_callout .left .ribbon_red   { position:absolute; bottom:160px; right:-5px; }
#event_callout .left .ribbon_white { position:absolute; bottom:100px; right:-5px; }
#event_callout .left #add_to_wish_list { bottom:39px; }
#event_callout .left a { font-family:Cabin,Arial,sans-serif; font-style:normal; font-size:14px; text-transform:uppercase; color:#fff; }
#event_callout .left a:hover { color:#c54528; }



#event_callout .right { width:672px; }

#event_callout .corner_info {
  background: url(../images/css-sprites.png) -188px -305px no-repeat;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 144px;
  height: 144px;
  z-index: 500;
  color: #fff;
  font-family: Cabin,Arial,sans-serif;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  text-align: right;
  padding: 10px 10px 0 0;
}
#event_callout .corner_info sub { position:relative; bottom:5px; font-size:24px; }
#event_callout .corner_info strong { font-size:38px; line-height:30px; letter-spacing:-1px; }



#carousel {
  position: relative;
  height: 450px;
  width: 672px;
}
#carousel ul { list-style:none; padding:0; margin:0; }
#carousel ul li { float:left; height:450px; width:672px; }

#carousel .carousel-previous {
  background: url(../images/css-sprites.png) -125px -329px no-repeat;
  border: none;
  text-indent: -9999px;
  position: absolute;
  right: 0;
  bottom: 130px;
  display: block;
  width: 27px;
  height: 55px;
  z-index: 100;
  cursor: pointer;
}
#carousel .carousel-next {
  background: url(../images/css-sprites.png) -125px -396px no-repeat;
  border: none;
  text-indent: -9999px;
  position: absolute;
  right: 0;
  bottom: 190px;
  display: block;
  width: 27px;
  height: 55px;
  z-index: 100;
  cursor: pointer;
}
#carousel input.disabled { opacity:0.3; }


/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.clear { clear:both; }


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

.carousel-previous.disabled, .carousel-next.disabled
{
    visibility:hidden;
}

a:hover { color: #333; }
.cart fieldset { width: auto; }
