<?xml version="1.0"?>
<config>
    <modules>
        <AW_Sociable>
            <version>1.1</version><platform>ce</platform>
        </AW_Sociable>
    </modules>
    <frontend>
        <routers>
            <sociable>
                <use>standard</use>
                <args>
                    <module>AW_Sociable</module>
                    <frontName>sociable</frontName>
                </args>
            </sociable>
        </routers>
        <layout>
            <updates>
                <sociable>
                    <file>sociable.xml</file>
                </sociable>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Sociable>
                    <files>
                        <default>AW_Sociable.csv</default>
                    </files>
                </AW_Sociable>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <sociable_admin>
                <use>admin</use>
                <args>
                    <module>AW_Sociable</module>
                    <frontName>sociable_admin</frontName>
                </args>
            </sociable_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <sociable>
                        <title>Sociable</title>
                        <sort_order>60</sort_order>
                        <children>
                            <add_service>
                                <title>Add Service</title>
                                <sort_order>0</sort_order>
                                <action>sociable_admin/adminhtml_sociable/new</action>
                            </add_service>
                            <manage_services>
                                <title>Manage Services</title>
                                <sort_order>1</sort_order>
                                <action>sociable_admin/adminhtml_sociable/index</action>
                            </manage_services>
                            <most_bookmarked>
                                <title>Most Bookmarked Products</title>
                                <sort_order>2</sort_order>
                                <action>sociable_admin/adminhtml_bookmarked/index</action>
                            </most_bookmarked>
                            <settings>
                                <title>Settings</title>
                                <sort_order>3</sort_order>
                                <action>adminhtml/system_config/edit/section/sociable/</action>
                            </settings>
                        </children>
                    </sociable>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                <cms>
                    <children>
                        <sociable>
                            <title>Sociable</title>
                            <children>
                               <add_service>
                                    <title>Add Service</title>
                               </add_service>
                               <manage_services>
                                    <title>Manage Services</title>
                               </manage_services>
                               <most_bookmarked>
                                    <title>Most Bookmarked Products</title>
                               </most_bookmarked>
                               <settings>
                                    <title>Settings</title>
                               </settings>
                            </children>
                        </sociable>
                    </children>
                </cms>
                <system>
                    <children>
                        <config>
                            <children>
                                <sociable>
                                  <title>aheadWorks - Sociable</title>
                                </sociable>
                            </children>
                        </config>
                    </children>
                </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sociable>
                    <file>sociable.xml</file>
                </sociable>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Sociable>
                    <files>
                        <default>AW_Sociable.csv</default>
                    </files>
                </AW_Sociable>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <sociable>
                <class>AW_Sociable_Model</class>
                <resourceModel>sociable_mysql4</resourceModel>
            </sociable>
            <sociable_mysql4>
                <class>AW_Sociable_Model_Mysql4</class>
                <entities>
                    <services>
                        <table>aw_sociable_services</table>
                    </services>
                    <clicks>
                        <table>aw_sociable_clicks</table>
                    </clicks>
                    <bitly>
                        <table>aw_sociable_bitly_links</table>
                    </bitly>
                    <bookmarked>
                        <table>aw_sociable_bookmarked</table>
                    </bookmarked>
                </entities>
            </sociable_mysql4>
        </models>
        <resources>
            <sociable_setup>
                <setup>
                    <module>AW_Sociable</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sociable_setup>
            <sociable_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sociable_write>
            <sociable_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sociable_read>
        </resources>
        <blocks>
            <sociable>
                <class>AW_Sociable_Block</class>
            </sociable>
        </blocks>
        <helpers>
            <sociable>
                <class>AW_Sociable_Helper</class>
            </sociable>
        </helpers>
    </global>
    <default>
        <sociable>
            <general>
                <block_position>sociable.product_page</block_position>
            </general>
            <bit_ly>
                <register_link>http://bit.ly/a/sign_in</register_link>
                <api_version>v3</api_version>
            </bit_ly>
        </sociable>
    </default>
</config>