/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* FONTS */
@font-face {
	font-family: "BrandonG";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_reg.otf") format("opentype")
}
@font-face {
	font-family: "BrandonG IT";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_reg_it.otf") format("opentype")
}
@font-face {
	font-family: "BrandonG Bold";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_bld.otf") format("opentype")
}
@font-face {
	font-family: "BrandonG Bold Italic";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_bld_it.otf") format("opentype")
}
@font-face {
	font-family: "BrandonG Thin";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_thin.otf") format("opentype")
}
@font-face {
	font-family: "BrandonG Thin Italic";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_thin_it.otf") format("opentype")
}
@font-face {
	font-family: "BrandonG Medium";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_med.otf") format("opentype")
}
@font-face {
	font-family: "BrandonG Medium Italic";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_med_it.otf") format("opentype")
}
@font-face {
	font-family: "BrandonG Light";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_light.otf") format("opentype")
}
@font-face {
	font-family: "BrandonG Light Italic";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_light_it.otf") format("opentype")
}
@font-face {
	font-family: "BrandonG Black";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_blk.otf") format("opentype")
}
@font-face {
	font-family: "BrandonG Black Italic";
	/* src: url("type/filename.eot"); */
	src: url("../fonts/Brandon_blk_it.otf") format("opentype")
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
  line-height: 18px;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

button, input, select, textarea, legend { font-family:Cabin,Arial,sans-serif; font-style:normal; color:#222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background:#c44427; color:#fff; text-shadow:none; }
::selection      { background:#c44427; color:#fff; text-shadow:none; }


/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #c84729;
  text-decoration: none;
  border-bottom: 2px dashed transparent;
  padding-bottom: 1px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition:    all 200ms ease-in;
  transition:         all 200ms ease-in;
}
a:visited { color:#c84729; }
a:hover { color:#cff; border-bottom:1px dashed #c84729; }
a:active { outline:none; }

#return_to_top {
  background: url(../images/css-sprites.png) -425px -175px no-repeat;
  position: fixed;
  top: 50%;
  bottom: 50%;
  right: 1.8%;
  display: block;
  width: 43px;
  height: 43px;
  padding: 0;
  z-index: 900;
  opacity: 0;
  -webkit-transition: none;
  -moz-transition:    none;
  transition:         none;
}
#return_to_top:hover, #return_to_top:active { background-position:-425px -222px; border:none; }


/* =============================================================================
   Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 { font-style:normal; }

h1 {
  font-family: Cabin,Arial,sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 48px;
  margin: 20px 0;
  padding: 0;
  text-transform: uppercase;
  color: #000;
}

h2 {
  font-family: 'BrandonG Light','Arial Narrow',Arial,sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin: 10px 0 50px 0;
  padding: 0;
  text-transform: uppercase;
  color: #333;
  line-height: 40px;
}
.ie h2 {
  font-family: "Arial Narrow",Arial,sans-serif;
}

h2.fancy_phone_number {
  display: block;
  background: url(../images/icon-call-us.png) left center no-repeat;
  font-family: "BrandonG Bold","Arial Narrow",Arial,sans-serif;
  font-size: 52px;
  text-shadow: none;
  margin: 12px 0;
  padding-left: 75px;
  line-height: 55px;
  letter-spacing: -3px;
  color:#cb4126
}

h3 {
  font-family: Cabin,'Arial Narrow',Arial,sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 1px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #c44427;
}

h4 {
  font-family: Cabin,Arial,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #1A181A;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

h5 {
  font-family: "Times New Roman", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 24px;
  line-height: 24px;
  color: #c44427;
  margin: 15px 0;
}
h5 strong {
  font-family: Cabin,Arial,sans-serif;
  font-style: normal;
  font-size: 20px;
}

h6 {
  font-family: Cabin,Arial,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1A181A;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display:block; height:8px; width:auto; border:none; background:url(../images/background-angled-lines.png) repeat-x; margin:5px 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

p { margin:0 0 32px 0; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

iframe { border:10px solid #D7D1CA; margin:5px 0 20px 0; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
ol { list-style:decimal; }
ol li { padding:5px 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin:0; }
fieldset { border:0; margin:0; padding:10px 0 0 0; width:455px; }

form table td { border:none; padding:5px 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor:pointer; display:block; margin-bottom:2px; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border:0; *margin-left:-7px; padding:0; text-transform:uppercase; color:#1a181a; font-family:Cabin,Arial,sans-serif; font-size:20px; font-weight:500; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

a.button_ribbon,
input.button_ribbon {
  position: relative;
  background: url(../images/css-sprites.png) 0 -162px no-repeat;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'BrandonG Light',"Arial Narrow",Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  padding: 0;
  border: none;
  display: block;
  width: 142px;
  height: 37px;
  line-height: 37px;
  z-index: 100;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.ie a.button_ribbon,
.ie input.button_ribbon {
  font-family: "Arial Narrow",Arial,sans-serif;
}


a.button_ribbon:hover,
a.button_ribbon:active,
input.button_ribbon:hover,
input.button_ribbon:active {
  background-position: 0 -202px;
  color: #c74428;
  font-weight: bold;
  padding: 0;
  border: none;
}


a.button_ribbon_small,
input.button_ribbon_small {
  position: relative;
  background: url(../images/css-sprites.png) 0 -244px no-repeat;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'BrandonG Light',"Arial Narrow",Arial,sans-serif;
  font-style: normal;
  font-size: 12px;
  padding: 0;
  border: none;
  display: block;
  width: 101px;
  height: 37px;
  line-height: 35px;
  z-index: 100;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.ie a.button_ribbon_small:hover,
.ie a.button_ribbon_small:active,
.ie input.button_ribbon_small:hover,
.ie input.button_ribbon_small:active {
  font-family: 'BrandonG Light',"Arial Narrow",Arial,sans-serif;
}


a.button_ribbon_small:hover,
a.button_ribbon_small:active,
input.button_ribbon_small:hover,
input.button_ribbon_small:active {
  background-position: 0 -283px;
  color: #c74428;
  font-weight: bold;
  padding: 0;
}



/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  padding: 2%;
  width: 94.5%;
  height: 80px;
}

form input.input-text { width:89%; }

textarea,
input.input-text {
  background: #d8d0c9;
  padding: 8px;
  font-size: 16px;
  border: 5px solid #d8d0c9;
  -webkit-transition: border 200ms ease-in;
  -moz-transition:    border 200ms ease-in;
  transition:         border 200ms ease-in;
}

textarea:hover,
textarea:focus,
input.input-text:hover,
input.input-text:focus { outline:none; border:5px solid #b8b0a9; }

/* Colors for form validity */
input:valid, textarea:valid {}
input:invalid, textarea:invalid { border-color:#c54528; color:#c54528;  }

input.checkbox {
  float: left;
  margin-right: 10px;
}

/* =============================================================================
   Tables
   ========================================================================== */
table { border-collapse:collapse; border-spacing:0; width:100%; }

th { text-align:left; vertical-align:bottom; padding:10px 5px; border-bottom:1px solid #d7d1c9; color:#c54528; text-transform:uppercase; font-style:normal; font-family:Cabin,Arial,sans-serif; }
td { text-align:left; vertical-align:middle; padding:5px; border-bottom:1px solid #d7d1c9; }
td .input-text { width:auto; }

td.price { color:#000; text-transform:uppercase; font-style:normal; font-family:Cabin,Arial,sans-serif; font-weight:600; }

tfoot td { text-align:right; vertical-align:middle; padding:20px 5px; color:#c54528; text-transform:uppercase; font-style:normal; font-family:Cabin,Arial,sans-serif; }
td.price_total { text-align:left; color:#000; text-transform:uppercase; font-style:normal; font-family:Cabin,Arial,sans-serif; font-weight:600; font-size:24px; }


/* =============================================================================
   CSS Classes
   ========================================================================== */
.floatleft, .alignleft   { float:left;  }
.floatright, .alignright { float:right; }
.aligncenter { display:block; margin:0 auto; text-align:center; }
.align_text_center * { text-align:center; }

img.floatleft,  img.alignleft  { margin:0 30px 30px 0; }
img.floatright, img.alignright { margin:0 0 30px 30px; }

ul.red_dots_on_black { list-style-image:url(../images/icon-spacer-disc-black.png); }

.list_item_round_beige_large {
  position: relative;
  background: url(../images/css-sprites.png) 0 -329px no-repeat;
  display: block;
  width: 115px;
  height: 114px;
}

.ribbon_red,
.ribbon_white {
  position: relative;
  display: block;
  width: 74px;
  height: 44px;
  cursor: pointer;
  text-indent: 10px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
  color: #000;
  border: none;
  padding: 5px;
  margin: 0;
  -webkit-transition: none;
  -moz-transition:    none;
  transition:         none;
}
.ribbon_red a {
  color: #000 !important;
  display: block !important;
  border: none !important;
  -webkit-transition: none;
  -moz-transition:    none;
  transition:         none;
}

.ribbon_red   { background:url(../images/css-sprites.png) -404px -54px no-repeat; }
.ribbon_white { background:url(../images/css-sprites.png) -404px 0     no-repeat; }

.ribbon_red:hover,   .ribbon_red:active   { background-position:-404px -108px; border:none; color:#c54528; }
.ribbon_white:hover, .ribbon_white:active { background-position:-404px -108px; border:none; color:#c54528; }

.ribbon_red:hover   a, .ribbon_red:active   a { color:#c54528 !important; }
.ribbon_white:hover a, .ribbon_white:active a { color:#c54528 !important; }

.no_ribbon_red_hover:hover   { background-position:-404px -54px; color:#000; cursor:default; }
.no_ribbon_white_hover:hover { background-position:-404px 0;     color:#000; cursor:default; }

.ribbon_red .amount, .ribbon_white .amount {
  font-family: "Times New Roman",serif !important;
  font-size: 32px !important;
  line-height: 22px !important;
  margin: 4px 0 2px 0 !important;
}

.add_to_cart   { background:url(../images/css-sprites.png) -498px -90px no-repeat; display:block; width:58px; height:37px; position:absolute; top:6px; left:17px; }
.added_to_cart { background:url(../images/css-sprites.png) -498px 0 no-repeat;     display:block; width:58px; height:37px; position:absolute; top:6px; left:17px; }
  .ribbon_white:hover .add_to_cart,
  .add_to_cart:hover { background-position:-498px -45px; }

.add_to_wish_list   { background:url(../images/css-sprites.png) -565px -90px no-repeat; display:block; width:48px; height:33px; position:absolute; top:10px; left:21px; }
.added_to_wish_list { background:url(../images/css-sprites.png) -565px 0 no-repeat;     display:block; width:48px; height:33px; position:absolute; top:10px; left:21px; }

  .ribbon_white:hover .add_to_wish_list,
  .add_to_wish_list:hover { background-position:-565px -45px; }


.icon_email {
  background: url(../images/css-sprites.png) -500px -329px no-repeat;
  display: block;
  width: 55px;
  height: 37px;
  padding: 0;
  border: none;
  text-indent: -9999px;
}
.icon_email:hover { border:none; padding:0; }

.list_item_round_beige_large .icon_email { position:absolute; top:37px; left:30px; }

.icon_twitter {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 18px;
  padding: 0;
  border: none;
  top: 2px;
  background: url(../images/css-sprites.png) -526px -137px no-repeat;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.icon_twitter:hover { background-position:-498px -137px; border:none; padding:0; }

.icon_facebook {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 17px;
  padding: 0;
  border: none;
  background: url(../images/css-sprites.png) -540px -188px no-repeat;
  top: 2px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.icon_facebook:hover { background-position:-500px -188px; border:none; padding:0; }

.icon_linked_in {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 18px;
  padding: 0;
  border: none;
  background: url(../images/css-sprites.png) -533px -162px no-repeat;
  top: 1px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.icon_linked_in:hover { background-position:-500px -162px; border:none; padding:0; }



/* =============================================================================
   Layout
   ========================================================================== */
body { background:#fdf6ee; color:#333; }

.inner_wrapper { width:1060px; margin:0 auto; position:relative; clear:both; }

.page { width:auto !important; padding:0 !important; }
.main-container { width:1060px; margin:0 auto; }

body.homepage #homepage_header_wrapper { display:block; }

#homepage_header_wrapper {
  background: #262626;
  width: 100%;
  height: 370px;
  min-width: 100%;
  max-height: 502px;
  display: none;
}
#homepage_header {
  position: relative;
  width: 100%;
  height: 370px;
  min-width: 100%;
  max-height: 502px;
  overflow: hidden;
}

#homepage_header .inner_wrapper {
  position: relative;
  width:100%;
  z-index: 100;
}
#homepage_center_stage {
  position: absolute;
  left: 50%;
  top: 0;
  height: 370px;
  width: 372px;
}
#testimonial {
	height:142px;
	padding: 20px 40px 0 47px;
	font-size:17px;
	line-height: 20px;
	font-family:'BrandonG Light';
	font-style: normal;
	color:#fff;
	position: relative;
	background:rgba(0,0,0,.8);
}
#testimonial p {
	margin:0;
	padding:0;
}
#testimonial .quote {
	margin-bottom: 15px;
	margin-top: 2px;
}
#testimonial .test_name {
	font-family: 'BrandonG Bold', Arial, sans-serif;
	font-size:16px;
	margin-left: 1px;
}
#testimonial .test_company {
	font-family: 'BrandonG', Arial, sans-serif;
	font-size:12px;
	margin-left: 1px;
	margin-top: -2px;
}
#testimonial .quoteimage {
	position:absolute;
	height:7px;
	width:7px;
}
#testimonial #openquote {
	background: url(../images/openquote.png) no-repeat;
	top: 23px;
	left: 29px;
}
#testimonial #closequote {
	background: url(../images/closequote.png) no-repeat;
	right: 40px;
	bottom: 82px;
}
#statement {
	height:132px;
	padding: 30px 20px 50px 40px;
	font-size:17px;
	line-height: 21px;
	font-family:'BrandonG Light';
	font-style: normal;
	color:#fff;
	background-image: linear-gradient(bottom, rgba(0,0,0,.8) 10%, rgba(17,17,17, .8) 40%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.8) 10%, rgba(17,17,17,.8) 40%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.8) 10%, rgba(17,17,17,.8) 40%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.8) 10%, rgba(17,17,17,.8) 40%);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.8) 10%, rgba(17,17,17,.8) 40%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgba(0,0,0,.8)),
		color-stop(0.4, rgba(17,17,17,.8))
	);
}
#statementhead {
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 16px;
	margin-left: -3px;
}
a#get_started {
	display: block;
	background: url(../images/get_started.png) no-repeat;
	width:165px;
	height:21px;
	text-decoration: none;
	font-family: 'BrandonG Bold', Arial, sans-serif;
	font-size:20px;
	position: absolute;
	right: -56px;
	bottom: 22px;
	font-style: normal;
	color: white;
	padding: 10px 10px 10px 32px;
	text-shadow:  1px 1px 2px #000;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
a#get_started:hover {
	border:none;
	color:#c44427;
}

ul#steps {
	position: absolute;
	right:5%;
	top:308px;
	z-index:150;
}
#steps li {
	list-style: none;
	display:inline;
}
#steps li a {
	background: url(../images/other_page.png) no-repeat;
	height:16px;
	width:16px;
	display:block;
	float:left;
	margin-right:5px;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
#steps li a.active {
	background: url(../images/current_page.png) no-repeat;
}
#steps li a:hover {
	border:none;
}

.featured_product_text {
	min-height: 370px;
	position: relative;
	color:#fff;
}
.featured_product_text .product_info {
	height:100px;
	max-width: 475px;
	margin-top:22px;
	/* background: url(../images/event_name_box.png); */
	background: rgba(0, 0, 0, .8);
	overflow: visible;
	position: relative;
	float:left;
	font-family: 'BrandonG','Arial Narrow', sans-serif;
	text-transform: uppercase;
	font-style: normal;
}
.featured_product_text .product_info div.product_header {
	margin-top:20px;
	padding: 0;
	font-size: 24px;
	color: white;
	font-weight: normal;
	font-family: 'BrandonG Light','Arial Narrow', sans-serif;
	line-height: 20px;
}
.featured_product_text .product_info .event_details_info {
	margin-right: 5px;
	margin-top:3px;
	float:left;
	color:#c44427;
	font-style: normal;
	font-size:12px;
	line-height: 12px;
}
.featured_product_text .product_info #event_detail_group {
	padding-left: 5px;
	border-left:1px solid #c44427;
}
.featured_product_text .product_info .event_details_link {
	position: absolute;
	left:-27px;
	bottom:-25px;
	height:32px;
	width: 120px;
	padding: 12px 37px 0 0;
	background: url(../images/buy_now.png) no-repeat;
    color:#fff;
	font-family: 'BrandonG Bold','Arial', sans-serif;
	font-size:20px;
    text-shadow:  1px 1px 2px black;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    text-transform: none;
}
.featured_product_text .product_info .event_details_link:hover {
	border:none;
	color:#333;
}
.featured_product_text .event_darken {
	height:100px;
	width:27px;
	margin-top:22px;
	background: url(../images/event_name_pre.png) no-repeat;
	float: left;
}
.featured_product_text .event_flare {
	height:100px;
	width:56px;
	margin-top:22px;
	background: url(../images/event_name_flare.png) no-repeat;
	float:left;
}

#header { background:/*#fdf6ee*/ url(../images/background-navigation_2.png) repeat-x; }
#header.fixed { position:fixed; top:0; left:0; width:100%; z-index:1000; }

#header .inner_wrapper { height:155px; }
#header ul { list-style:none; padding:0; margin:0; }
#header ul li { padding:0; margin:0; }

#header #logo { margin:0; padding:0; }
#header #logo a {
	background: url(../images/kapow_logo.png) no-repeat;
	position: absolute;
	display: block;
	width: 229px;
	height: 175px;
	top: -5px;
	left: 416px;
	margin: 0;
	padding: 0;
	border: none;
	z-index: 1000;
}
#header #logo a:hover { border:none; padding:0; }

#primary_navigation { position:relative; z-index:1; padding:21px 0; height:40px; font-style:normal; }
  #primary_navigation a {
    display: block;
    font-family: "BrandonG Bold", "Arial Narrow", Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    height: 38px;
    line-height: 38px;
    color: #fff;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-shadow:  1px 1px 2px black;
  }
  .ie #primary_navigation a { font-family: "Arial Narrow",Arial,sans-serif; }
  #primary_navigation a:hover { border:none; color:#c44427; }

  #primary_navigation_left { float:left; width:375px; }
  #primary_navigation_left li  { float:right; }
  #primary_navigation_left li a { margin-left:30px; }

  #primary_navigation_right { float:right; width:375px; }
  #primary_navigation_right li { float:left; position:relative; }
  #primary_navigation_right li a { margin-right:36px; }

  #primary_navigation_right li #contact_ribbon_arrow {
    position: absolute;
    display: block;
    background: url(../images/css-sprites.png) -180px 0 no-repeat;
    width: 169px;
    height: 101px;
    font-weight: 500;
    text-indent: 20px;
    color: #fff;
    border: none;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    text-align: left;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
  #primary_navigation_right li #contact_ribbon_arrow:hover  { background-position:-180px -202px; color:#c54528; border:none; padding:0; }
  #primary_navigation_right li #contact_ribbon_arrow:active { background-position:-180px -101px; color:#333333; border:none; padding:0; }


#secondary_navigation {
  position: relative;
  z-index: 200;
  height: 20px;
  width: 815px;
  margin: 4px auto;
  font-family: "BrandonG Bold", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}
  #secondary_navigation p,
  #secondary_navigation a {
    display: block;
    line-height: 12px;
    font-size: 12px;
    color:#c44427;
    border: none;
    margin: 0;
    text-decoration: none;
    font-style: normal;
  }
  #secondary_navigation a:hover { border:none; color:#fff; }
  #secondary_navigation li.spacer_dot {
    background: url(../images/background-spacer-disc.png) center no-repeat;
    width: 6px;
    height: 30px;
    padding: 0 8px;
  }

  #secondary_navigation_left { float:left; width:262px; text-align:center; }
  #secondary_navigation_left li { float:right; }
  #secondary_navigation_left li a {
	  margin-right:12px;
	  margin-left:12px;
  }
  #secondary_navigation_left li.last {
	  border-right:1px solid #c44427;
  }
  #secondary_navigation_right { float:left; width:456px; }
  #secondary_navigation_right li { float:right; }
  #secondary_navigation_right li a {
	  margin-right:12px;
	  margin-left:12px;
  }
  #secondary_navigation_right li:last-child {
	  border-right:1px solid #c44427;
  }
  #secondary_navigation .arrow {
	  position: absolute;
	  height:9px;
	  width:29px;
	  top:2px;
  }
  #leftarrow {
	  background: url(../images/leftarrow.png) no-repeat;
	  left:54px;
  }
  #rightarrow {
	  background: url(../images/rightarrow.png) no-repeat;
	  right:54px;
  }

.homepage #main_content {
	background: #000 url(../images/eventsbg.png) center no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
	margin-top:-48px;
}
#homepage_body_wrapper {
	padding-top:112px;
	height:790px;
}
#homepage_body_wrapper ul {
	padding:0;
}
#homepage_events_header {
	font-size:24px;
	font-family: 'BrandonG Light', 'Arial Narrow', sans-serif;
	font-style: normal;
	color:#fff;
	text-transform: uppercase;
	font-size:26px;
	margin-left:11px;
	width:241px;
	float:left;
}
.homepage_events_header_link {
	font-style: normal;
	font-family: 'BrandonG Light Italic', 'Arial Narrow', sans-serif;
	font-size: 18px;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	opacity:0.80;
	margin-right:15px;
}
.homepage_events_header_link:hover {
	border:none;
}
#homepage_body_wrapper .header_active {
	border-bottom: 1px #333 solid;
}
.homepage_products {
	width:327px;
	height:550px;
	float:left;
	padding:0 15px;
	list-style: none;
	margin-top:50px;
	padding-bottom:50px;
}
#homepage_events_container .carousel-wrap {
	overflow: visible;
}
#homepage_events .last {
	padding-right:0;
}
#homepage_events .carousel-control {
	width:42px;
	height:42px;
	position: absolute;
	top:300px;
	border:none;
	text-indent: -9000px;
	text-transform: capitalize;
}
#homepage_events .carousel-next {
	background: url(../images/event_arrow_next.png) no-repeat;
	right:-48px;
}
#homepage_events .carousel-previous {
	background:url(../images/event_arrow_prev.png) no-repeat;
	left:-48px;
}
.homepage_products .product_header {
	width: 296px;
	height: 53px;
	padding: 21px;
	margin-left: -5px;
	background:url(../images/homepage_event_title.png) no-repeat;
	color:#fff;
	font-family: 'BrandonG Bold', 'Arial Black', sans-serif;
	font-style: normal;
	text-transform: uppercase;
}
.homepage_event_image {
	width:100%;
	height:100px;
	margin-top: -5px;
}
.homepage_product_info {
	background:rgba(28,27,27,.7);
	height: 500px;
	position: relative;
}
.homepage_products p.content {
	height: 70px;
	overflow: hidden;
	padding: 20px 20px 10px 20px;
	color:#fff;
	font-style: normal;
	font-family: 'BrandonG Light', 'Arial Narrow', sans-serif;
	font-size:15px;
	margin-bottom:15px;
}
.homepage_event_details {
	border-top:1px #262525 solid;
	border-bottom:1px #262525 solid;
	width:286px;
	margin:0 auto;
	height:112px;
	padding-top:8px;
	padding-bottom:10px;
}
.homepage_event_detail_bubble {
	float:left;
	height:105px;
	width:78px;
	color: #fff;
	line-height: 14px;
	font-family: 'BrandonG Bold', 'Arial Black', sans-serif;
	text-shadow:  1px 1px 2px black;
	font-style: normal;
	position:relative;
	margin-right:20px;
}
.homepage_event_detail_bubble .bubble_text {
	width: 50px;
	position: absolute;
	left: 13px;
	top: 15px;
	text-align: center;
	font-size: 22px;
}
#homepage_per_person .bubble_text {
	margin-top: 17px;
}
.homepage_event_detail_bubble .bubble_text div {
	font-size: 12px;
	margin-bottom: 3px;
	margin-top: 2px;
	display: block;
	text-transform: uppercase;
}
.homepage_event_detail_bubble .event_detail_tag {
	position: absolute;
	bottom: 0;
	left: -3px;
	text-align: center;
	color: white;
	font-family: 'BrandonG Light Italic', 'Arial Narrow', sans-serif;
	font-size: 14px;
	width: 86px;
	height: 18px;
	padding-top: 2px;
	text-shadow:none;
}
.minibubbles .bubble_icon {
	width:28px;
	height: 28px;
	float:left;
	-moz-opacity:0.25;
	filter:alpha(opacity=25);
	opacity:0.25;
	margin-right:2px;
}
.minibubbles .active {
	-moz-opacity:1;
	filter:alpha(opacity=100);
	opacity:1;
}
.minibubbles_row1 .bubble_icon {
	margin-bottom:8px;
	height:32px;
}
.minibubbles_row2 .bubble_icon {
}
.minibubbles .kapow {
	background: url(../images/kapow_icon.png) no-repeat;
}
.minibubbles .client_entertainment {
	background: url(../images/client_entertain.png) no-repeat;
}
.minibubbles .company_outing {
	background: url(../images/company_outing.png) no-repeat;
}
.minibubbles .holiday_party {
	background: url(../images/holiday_party.png) no-repeat;
}
.minibubbles .team_activity {
	background: url(../images/team_activity.png) no-repeat;
}
.minibubbles .summer_outing {
	background: url(../images/summer_outing.png) no-repeat;
	margin-top:3px;
	margin-bottom:5px;
}

#homepage_per_person {
	background: url(../images/price_per_person_bubble.png) no-repeat;
}
#homepage_group_size {
	background: url(../images/group_size_bubble.png) no-repeat;
}
#homepage_ideal_for {
	margin-right:0;
	width:90px
}
#homepage_per_person_tag {
	background: url(../images/per_person.png) no-repeat;
}
#homepage_group_size_tag {
	background: url(../images/group_size.png) no-repeat;
}
#homepage_ideal_for_tag {
	background: url(../images/ideal_for.png) no-repeat;
	color:#000;
	left:0px;
}
.event_detail_bottom {
	position: absolute;
	left:0;
	bottom: 0;
	width:327px;
	height:16px;
	background: url(../images/event_footer.png) no-repeat;
}
.event_details_link {
	position: absolute;
	bottom: -38px;
	left:123px;
	display:block;
	width: 53px;
	height: 47px;
	padding: 18px 14px;
	background: url(../images/view_book.png) no-repeat;
	color:#ffff99;
	font-family: 'BrandonG Bold Italic', 'Arial Narrow', sans-serif;
	text-align: center;
	font-style: normal;
	font-size:14px;
	line-height: 13px;
	text-transform: uppercase;
	text-shadow:  1px 1px 2px black;
	-webkit-transition:none;
	-moz-transition:   none;
	transition:        none;
	z-index:150;
}
.event_details_link span {
	color:#fff;
}
.event_details_link:hover {
	border:none;
	color:#C84729;
}
.bottom_border {
	width: 87%;
	position: absolute;
	bottom: 89px;
	left: 5%;
	border-top: 1px solid #181818;
}
#view_all_events {
	position: absolute;
	bottom:-32px;
	left:38%;
	padding-top:20px;
	height:40px;
	width:257px;
	display:block;
	background:url(../images/view_all_ribbon.png) no-repeat;
	color:#fff;
	font-size:24px;
	font-family: 'BrandonG Light Italic', 'Arial Narrow', sans-serif;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
	-webkit-transition:none;
	-moz-transition:   none;
	transition:        none;
}
#view_all_events:hover {
	border: none;
}

#footer {
  padding: 130px 0 30px 0;
  margin: 125px 0 0 0;
  -webkit-box-shadow: inset 0 5px 10px rgba(0,0,0,0.1);
  -moz-box-shadow:    inset 0 5px 10px rgba(0,0,0,0.1);
  box-shadow:         inset 0 5px 10px rgba(0,0,0,0.1);
  position:relative;
}
#footer p { font-family:'BrandonG Bold',Arial,sans-serif; font-style:normal; margin:10px 0; font-size:13px; }

#footer #email_us_button .button_ribbon_small { margin:-20px 0 0 7px; }

#footer #contact_information { text-align:center; clear:both; padding-top:30px; }
#footer #contact_information a { color:#333; }
#footer #contact_information em { font-family:"Times New Roman",serif; font-size:14px; }
#footer #contact_information strong { font-family:'Helvetica',Arial,sans-serif; font-style:normal; font-size:14px; }

#footer #contact_logo {
	width:195px;
	height:195px;
	background: url(../images/contact_logo.png) no-repeat;
	position: absolute;
	top: -95px;
	left: 42%;
}

#footer_sublinks {
	background:url(../images/footerlinks.png) repeat-x;
	height:64px;
	width:100%;
	position: relative;
}
#footer_sublinks a {
  font-size: 12px;
  font-family:'BrandonG Light','Arial Narrow',sans-serif;
  line-height: 12px;
  color: #fff;
  font-style:normal;
  text-transform: uppercase;
  margin-top: 28px;
  margin-right:30px;
}
#footer_sublinks_left {
	width:40%;
	float: left;
}
#footer_sublinks_right {
	width:37%;
	float: right;
}
#footer_sublinks a.last {
  border-right: none;
}
#footer_sublinks_left a {
	float:right;
}
#footer_sublinks_right a {
	float:left;
}
#footerlogo {
	width:258px;
	height:82px;
	background:url(../images/footerlogo.png) no-repeat;
	position: absolute;
	left: 39%;
	top: -18px;

}

#copy {
	padding-top:25px;
	font-family:'BrandonG Light',Arial,sans-serif;
	font-style: normal;
	font-size:12px;
	text-align: center;
	text-transform: uppercase;
	color:#666666;
	background: #000;
	width:100%;
	height:35px;
}


/* =============================================================================
   CONTENT
   ========================================================================== */
.left  { width:48%; float:left;  }
.right { width:48%; float:right; }

.w30p  { width:30%; float:left;  }
.w70p  { width:64%; float:right; }

ul.basic_grid { list-style:none; margin:-25px -30px; padding:0; }
ul.basic_grid li { position:relative; float:left; margin:25px 30px; padding:0; width:308px; }
ul.basic_grid li p { margin:10px; }

ul.event_grid li { background:#1a1a1a; color:#aaa; padding-bottom:50px; height:341px; }
ul.event_grid h3 { margin:15px 20px; color:#c54528; height:45px; }
ul.event_grid h3 a:hover { color:#fff; }
ul.event_grid p  { padding:0 10px 5px 10px; color:#aaa; font-family:"Times New Roman",serif; font-style:italic; font-size:16px; line-height:18px; }
ul.event_grid li .ribbon_red { position:absolute; top:10px; right:-5px; }
ul.event_grid li .button_ribbon { position:absolute; bottom:-20px; left:90px; }

p.callout { font-size:18px; line-height:24px; }

.page-title h1, .page-title h2 { margin-top:0; }
.page-title { padding:0; margin:0; }

.block { border:none; }
.block .block-content { border:1px dashed #B8B0A9; border-top:none; }

.block-title {
  font-family: 'BrandonG Light','Arial Narrow',Arial,sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: -1px 1px 0 white;
  border-bottom: none;
  background: #d8d0c9;
  padding: 10px;
  color: #C44427;
}
.ie .block-title { font-family:'Arial Narrow',Arial,sans-serif; }



.pager { border:1px dashed #B8B0A9; padding:10px; }
.pager p { margin-bottom:0; }
.pager label { display:inline; font-style:normal; font-size:12px; font-family:Arial,sans-serif; }


#main_content section,
#main_content .section,
.main section,
.main .section {
  clear: both;
  margin: 0 0 150px 0;
}

#custom_events ol, #custom_events ul { margin:0; }
#custom_events li { padding:0 0 40px 0; font-size:20px; font-weight:bold; line-height:25px; }
#custom_events li small { font-weight:bold; font-size:75%; }

#custom_events_steps { list-style:none; margin:0; padding:0; }
#custom_events_steps li img { position:relative; top:-10px; }
#custom_events_steps li div {
  display: inline-block;
  background: url(../images/css-sprites.png) -125px -329px no-repeat;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  font-family: Cabin,Arial,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  margin-right: 15px;
}

#about_events_wired img.floatleft, #about_kapow_events img.floatleft { margin-bottom:60px; }
#about_events_wired p.callout, #about_kapow_events p.callout { width:475px; line-height:26px; margin-bottom:26px; }
.ie7 #about_events_wired p.callout, .ie7 #about_kapow_events p.callout { width:340px; }
#about_events_wired ul.basic_grid li, #about_kapow_events ul.basic_grid li { width:150px; text-align:center; margin:25px 19px; }
#about_events_wired ul.basic_grid li p, #about_kapow_events ul.basic_grid li p { font-size:14px; }

#how_it_works ul.basic_grid {
  margin: -25px;
}
#how_it_works ul.basic_grid li {
  width: 250px;
  left: 25px;
  margin: 24px 50px;
  text-align: justify;
}

.aw-sociable_services {
  background: none;
  border: none;
  padding: 0;
  text-align: right;
  margin: 0;
}
.categorypath-all-events .aw-sociable_services {
  position: relative;
  top: 20px;
  margin-bottom: -20px;
}
.categorypath-all-events .aw-sociable_services ul {
  padding: 0;
  margin: 0;
}

#event_callout {
  position: relative;
  background: #555;
  height: 450px;
  width: 1060px;
  overflow: hidden;
  margin: 45px 0;
}

#event_callout .left {
  background: url(../images/css-sprites.png) -650px 0 repeat-y;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 20px;
  height: 410px;
  width: 309px;
  color: #888;
}
#event_callout .left h1 {
  color: #fff;
  font-size: 45px;
  line-height: 42px;
  margin: 10px 0 20px 0;
}
#event_callout .left p {
  font-size: 17px;
  line-height: 22px;
  margin: 0 0 15px 0;
  padding: 0;
  width: 230px;
}
#event_callout .left p.datetime { font-size:12px; margin:0; }
#event_callout .left p.datetime em { color:#c54528; text-transform:uppercase; font-style:normal; font-family:Cabin,Arial,sans-serif; }

#event_callout .left .price {
  font-family: "Arial Narrow",Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #c54528;
  margin: -5px 0 25px 0;
}
#event_callout .left .price .price_text sup { position:relative; top:-18px; font-size:42px; }
#event_callout .left .price .price_text     { font-size:50px; line-height:45px; }
#event_callout .left .price .price_subtext  { font-size:24px; margin:2px 0 0 27px; }

#event_callout .left ul { padding-left:17px; }
#event_callout .left ul li { margin:8px 0; }

#event_callout .left .ribbon_red   { position:absolute; bottom:160px; right:-5px; }
#event_callout .left .ribbon_white { position:absolute; bottom:100px; right:-5px; }
#event_callout .left #add_to_wish_list { bottom:39px; }
#event_callout .left a { font-family:Cabin,Arial,sans-serif; font-size:14px; text-transform:uppercase; color:#fff; }
#event_callout .left a:hover { color:#c54528; }



#event_callout .right {
  position: absolute;
  width: 1060px;
  left: 0;
  top: 0;
}

#event_callout .corner_info {
  background: url(../images/css-sprites.png) -188px -305px no-repeat;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 144px;
  height: 144px;
  z-index: 500;
  color: #fff;
  font-family: Cabin,Arial,sans-serif;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  text-align: right;
  padding: 10px 10px 0 0;
}
#event_callout .corner_info sub { position:relative; bottom:5px; font-size:24px; }
#event_callout .corner_info strong { font-size:38px; line-height:30px; letter-spacing:-1px; }



#carousel {
  position: absolute;
  height: 450px;
  width: 1060px;
  left: 0;
  top: 0;
}
#carousel ul { list-style:none; padding:0; margin:0; }
#carousel ul li { float:left; height:450px; width:1060px; position:relative; }
#carousel ul li img { position:absolute; top:0; left:0; }

#carousel .carousel-previous {
  background: url(../images/css-sprites.png) -125px -329px no-repeat;
  border: none;
  text-indent: -9999px;
  position: absolute;
  right: 0;
  bottom: 130px;
  display: block;
  width: 27px;
  height: 55px;
  z-index: 100;
  cursor: pointer;
}
#carousel .carousel-next {
  background: url(../images/css-sprites.png) -125px -396px no-repeat;
  border: none;
  text-indent: -9999px;
  position: absolute;
  right: 0;
  bottom: 190px;
  display: block;
  width: 27px;
  height: 55px;
  z-index: 100;
  cursor: pointer;
}
#carousel input.disabled { opacity:0.3; }

#event_detail .content { font-style:normal; }

#fancybox-overlay { position:fixed; }
#fancybox-close { border:none; }
#fixedbg {
	position: fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,.5);
	height:100%;
	width:100%;
	z-index: 1500;
}
.lightbox-modal {
	width: 560px;
	padding: 57px 30px 40px;
	position: fixed;
	top: 20%;
	left: 23%;
	z-index: 1501;
	text-align: center;
	background: #000;
	color: #fff;
	font-family: 'BrandonG Light Italic', 'Arial Narrow', sans-serif;
	font-style: normal;
	overflow: hidden;
}
.lightbox-modal .bg-ribbon {
	width:30px;
	height:30px;
	position:absolute;
}
.lightbox-modal #bgribbon_tl {
	background: url(../images/tl_ribbon.png) no-repeat;
	top:0;
	left:0;
}
.lightbox-modal #bgribbon_tr {
	background: url(../images/tr_ribbon.png) no-repeat;
	top:0;
	right:0;
}
.lightbox-modal #bgribbon_bl {
	background: url(../images/bl_ribbon.png) no-repeat;
	bottom:0;
	left:0;
}
.lightbox-modal #bgribbon_br {
	background: url(../images/br_ribbon.png) no-repeat;
	bottom:0;
	right:0;
}
.lightbox-modal .modal-header {
	font-size:44px;
	font-family: 'BrandonG Light', 'Arial Narrow', sans-serif;
	height:20px;
	background: url(../images/modal-header_bg.png) no-repeat;
	display: block;
	width:561px;
	margin-bottom:40px;
}
.lightbox-modal .modal-form {
}
.lightbox-modal .modal-input {
	width: 372px;
	padding:11px;
	margin-bottom:10px;
	background:#110e0e;
	font-family: 'BrandonG Light Italic', 'Arial Narrow', sans-serif;
	color:#fff;
	border: none;
	font-size:18px;
}
.lightbox-modal #modal-password, .lightbox-modal #signup-password, .lightbox-modal #signup-confirmation {
	display:none;
}
.lightbox-modal #closebtn {
	position: absolute;
	width: 78px;
	height: 78px;
	background: transparent url('../images/closebtn.png');
	cursor: pointer;
	z-index: 1506;
	right: 2px;
	top: -90px;
}
#signin-button {
	background: url(../images/signin_bg.png) no-repeat;
	height:41px;
	width:561px;
	margin-top:40px;
}
#signup-modal {
	width: 492px;
	margin: 0 auto;
	font-size: 21px;
	line-height: 21px;
	font-style: normal;
	font-family: 'BrandonG Light', 'Arial Narrow', sans-serif;
	color:#ccc;
}
#signup-modal #signup-top {
	margin-top: -20px;
	padding-bottom: 35px;
	border-bottom: 1px #222 solid;
}
#signup-modal #signup-bottom {
	margin-top: 35px;
	margin-bottom: 20px;
	padding-bottom: 35px;
	border-bottom: 1px #222 solid;
}
#signup-form {
	width:398px;
	margin: 0 auto;
	border-bottom:1px #222 solid;
	padding-bottom: 18px;
}
#signup-modal #signup-phone {
	float:left;
	width:145px;
	margin-top:-21px;
	margin-left:18px;
}
#signup-modal #signup-firstname, #signup-modal #signup-password, #signup-modal #signup-passwordText {
	float:left;
	width:177px;
}
#signup-modal #signup-lastname, #signup-modal #signup-confirmation, #signup-modal #signup-confirmationText {
    float:right;
    width:177px;
}
.lightbox-modal .modal-signin {
	background: url(../images/modal-signin.png) no-repeat;
	width:151px;
	height:41px;
	border:none;
}
.lightbox-modal .modal-signin span {
	display: block;
	color:#fff;
	text-shadow:  1px 1px 2px #000;
	font-size:20px;
	font-family: 'BrandonG Bold', 'Arial Black', sans-serif;
}
.lightbox-modal p  { margin-bottom:30px; font-size:17px; line-height:22px; }
.lightbox-modal .modal-links {
	width:325px;
	margin: 28px auto;
}
#signuplinks {
	width:200px;
	margin: 20px auto -20px;
	font-size: 16px;
	font-family: 'BrandonG Light Italic', 'Arial Black', sans-serif;
}

.lightbox-modal .modal-continue {
	background: url(../images/modal_continue.png) no-repeat;
	width:168px;
	height:41px;
	border:none;
	margin-top:10px;
}
.lightbox-modal .modal-continue span {
	display: block;
	color:#fff;
	text-shadow:  1px 1px 2px #000;
	font-size:20px;
	font-family: 'BrandonG Bold', 'Arial Black', sans-serif;
}
.lightbox-modal .modal-links div {
	float:left;
}
.lightbox-modal .modal-links .spacerdot {
	width:13px;
	height:13px;
	background: url(../images/spacerdot.png) no-repeat;
	margin: 3px 5px;
}
.lightbox-modal .modal-links .modal-signup_link {
	color:#fff;
}
.lightbox-modal #signup-modal {
	display:none;
}

#slidebox {
  position: absolute;
  width: 690px;
  height: 640px;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  background: #000;
  color: #fff;
  line-height: 26px;
  font-size: 18px;
  font-family: "Times New Roman", serif;
  font-style: italic;
  text-align: left;

  -webkit-box-shadow: 0 0 70px rgba(0,0,0,0.85), inset 0 -1px 15px rgba(255,255,255,0.35);
  -moz-box-shadow:    0 0 70px rgba(0,0,0,0.85), inset 0 -1px 15px rgba(255,255,255,0.35);
  box-shadow:         0 0 70px rgba(0,0,0,0.85), inset 0 -1px 15px rgba(255,255,255,0.35);

  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#slidebox p { margin:0 0 20px 0; }
#slidebox small { font-size:12px; }
#slidebox .content { overflow:auto; padding:25px 35px; }

#slidebox_close {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #999;
  border: 1px solid #222;
  color: #555;
  text-shadow: 0 1px 1px #eee;
  font-style: normal;
  font-family: Arial, sans-serif;
  padding: 5px 25px;
  cursor: pointer;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  -webkit-box-shadow: inset 0 -1px 2px rgba(0,0,0,0.6), inset 0 1px 1px #fff;
  -moz-box-shadow:    inset 0 -1px 2px rgba(0,0,0,0.6), inset 0 1px 1px #fff;
  box-shadow:         inset 0 -1px 2px rgba(0,0,0,0.6), inset 0 1px 1px #fff;
}
#slidebox_close:hover, #slidebox_close:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.6), inset 0 -1px 1px #ddd;
  -moz-box-shadow:    inset 0 1px 2px rgba(0,0,0,0.6), inset 0 -1px 1px #ddd;
  box-shadow:         inset 0 1px 2px rgba(0,0,0,0.6), inset 0 -1px 1px #ddd;
}

.fieldset {
  padding: 10px 0;
  margin: 20px 0;
}
.form-list .input-box {
  margin: 0 0 15px 0;
}

/*.account-create .buttons-set p.required,*/
/*.account-create .form-list label.required em {*/
  /*padding-left: 5px;*/
/*}*/

.my-account h2.legend { display:none; }
.my-account .fieldset { border:1px dashed #B8B0A9; }

.carousel-previous.disabled, .carousel-next.disabled
{
    visibility:hidden;
}

a:hover { color: #333; }

.cart fieldset {
  border-top: 1px dashed #B8B0A9;
  border-bottom: 1px dashed #B8B0A9;
  margin: 30px 0;
  padding: 15px 0;
  width: auto;
}
#shopping-cart-table th { background:#ffffff; padding:10px; }
#shopping-cart-table td { background:#D8D0C9; padding:10px; }
#shopping-cart-table input.input-text { border-color:#e8e0d9; }
#shopping-cart-table input.input-text:hover { border-color:#b8b0a9; }
#shopping-cart-table .btn-remove2:hover { border:none; padding-bottom:0; }


.product-options {
  margin: 25px 0 75px 0;
  padding: 5px 30px;
  border-top: 5px solid #D8D0C9;
  border-bottom: 5px solid #D8D0C9;
}
.product-options dd {
  margin: 0;
}
.product-options dd div.input-box ul.options-list {
  border: 1px dashed #B8B0A9;
  padding: 10px 20px;
  margin: 15px 0;
  list-style: none;
}
.product-options dd div.input-box ul.options-list li {
  margin: 5px 0;
  clear: both;
}



#checkoutSteps {
  list-style-type: decimal;
  margin: 10px 0;
  padding: 0;
}
#checkoutSteps fieldset { width:auto; }

#checkoutSteps li.section {
  border-bottom: 4px solid #B8B0A9;
  background: #D8D0C9;
  margin: 0;
  padding: 5px;
}
#checkoutSteps li.section ul.form-list {
  padding: 10px 20px;
  border: 1px dashed #B8B0A9;
}
#checkoutSteps li.section ul.form-list label {
  color: #454545;
  font-weight: bold;
  margin: 5px 0;
}
#checkoutSteps li.section h2 {
  margin-bottom: 10px;
  text-shadow: -2px 2px 0 #fff;
}
#checkoutSteps li.section input.radio {
  float: left;
  clear: both;
  margin-right: 10px;
}
#checkoutSteps li.section dt,
#checkoutSteps li.section dd { margin:10px 0; }
#checkoutSteps li.section .buttons-set p { margin-bottom:0; }
#checkoutSteps input.input-text { border-color:#e8e0d9; }
#checkoutSteps input.input-text:hover { border-color:#b8b0a9; }

#checkoutSteps table tbody { background:#fff; }

#review-buttons-container p { margin-top:10px; font-size: 12px; }

#checkout-progress-wrapper { margin-top:100px; }

.block-progress dt.complete,
.block-progress dd.complete { background:none; }
.block-progress dd.complete { margin:5px 0 20px 40px; }

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.clear { clear:both; }


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

#homepage_events_container:focus {outline: none;}
